<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <h1 style = "color:red;">This page is yet to be styled</h1>
{% if name %}
        <li class="navbar-text">Welcome, {{ name.name }}!</li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {{edit|safe}}
   {% else %}
        <li><a href="{% url 'login' %}"><i class="fa fa-angle-double-right"></i> Login</a></li>
{% endif %}  
 <ul>
       <li>Name : {{name}}</li>
       <li>Enrollment Number : {{name.enrollment_id}}</li>
       <li>Permanent Address : {{name.permanent_address}}</li>
       <li>City : {{name.city}}</li>
       <li>Country : {{name.country}}</li>
       <li>Contact Number : {{name.contact}}</li>
       <li>Course : {{name.course}}</li>
       <li>Batch : 20{{name.batch}}</li>
       <li>Mentor : {{name.mentor.name}}</li>
       <li>Father's Name : {{name.father_name}}</li>
       <li>Mother's Name : {{name.mother_name}}</li>
       <li>Local Guardian : {{name.local_guardian}}</li>
       <li></li>
       <li></li>
       <li></li>
   </ul>
</body>
</html>
